[defaults]
host_key_checking = False
inventory = inventory.ini
remote_user = root
retry_files_enabled = False
gathering = smart

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
